{% extends "layout.html" %}
{% block content %}
<!-- Coursework Section -->
<section id="coursework" class="snap-section about-centered">
    <h2 class="section-title">Coursework</h2>
    <div class="coursework-grid">
      <div class="coursework-item">Data Structures & Algorithms</div>
      <div class="coursework-item">Object-Oriented Programming</div>
      <div class="coursework-item">Computational and Data Sciences w/ Lab</div>
      <div class="coursework-item">Intro to Low-level Programming</div>
      <div class="coursework-item">Calculus III</div>
      <div class="coursework-item">Calculus II</div>
    </div>
{% endblock content %}