{% extends "layout.html" %}
{% block content %}
<!-- Experience Section -->
<section id="experience" class="snap-section about-centered">
    <br><br>
    <h2 class="section-title">Experience</h2>

    <div class="experience-cards">
        <div class="experience-card">
          <h3>Tech Developer Intern</h3>
          <p><strong>Sponsors for Educational Opportunity</strong>  • Online • June 2024 – Present</p>
          <ul>
            <li>Completed 300+ hours of rigorous computer science and software engineering training focused on data structures, algorithms, and full-stack web development</li>
            <li>Gained software development skills by working in SCRUM-like teams to design, test, and implement full-stack applications using Python (Flask), MySQL, HTML, JavaScript, CSS, and API integrations</li>
          </ul>
        </div>
      
        <div class="experience-card">
          <h3>Tech Fellowship - Tech Fellow for Cybersecurity 101 Course</h3>
          <p><strong>CodePath</strong> • Online • Aug 2024 - Nov 2024</p>
          <ul>
            <li>Led breakout sessions and supported college students in hands-on labs covering topics such as cryptography, password cracking, malware analysis, Secure Shell (SSH), and Open Source Intelligence (OSINT)</li>
          </ul>
        </div>

        <div class="experience-card">
            <h3>Tech Fellowship - Tech Fellow for Technical Interview Prep 101 Course</h3>
            <p><strong>CodePath</strong> • Online • May 2024 - Aug 2024</p>
            <ul>
              <li>Facilitated breakout sessions with 4-5 college students and supported 30-35 students with Python-based problem sets on data structures and algorithms</li>
              <li>Guided students through coding challenges and reinforced core interview concepts</li>
            </ul>
          </div>

          <div class="experience-card">
            <h3>Reading Tutor</h3>
            <p><strong>Amplify</strong> • Online • Feb 2024 - July 2024</p>
            <ul>
              <li>Structured and adapted lesson plans for elementary school students to support individual learning needs, improving their reading comprehension, fluency, and overall literacy skills</li>
            </ul>
          </div>

          <div class="experience-card">
            <h3>Programming Intern</h3>
            <p><strong>BWSI</strong> • Online • July 2022 - August 2022</p>
            <ul>
              <li>Completed Unmanned Air System - Synthetic Aperture Radar (UAS-SAR) course</li>
              <li>Coded backprojection for SAR image generation and designed API for radar modules; placed 3rd in competition
            </li>
            </ul>
          </div>

      </div>

{% endblock content %}